<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/css/main.css" />

    <title>@ViewBag.Title Portfolio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            @RenderBody()
        </div>
        <!-- SideBar -->
        <div id="sidebar">
            <div class="inner">

                <!-- Search -->
                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Search" />
                    </form>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>
                            <span class="opener">About Me</span>
                            <ul>
                                <li>@Html.ActionLink("Hobbies", "About", "Home")</li>
                                <li><a href="#">Professional</a></li>
                            </ul>
                        </li>
                        <li><a href="#">@Html.ActionLink("My Projects", "MyProjects", "Navigation")</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">@Html.ActionLink("Blogs", "MyProjects", "Navigation")</a></li>
                        <li><a href="#">@Html.ActionLink("Gallery", "MyProjects", "Navigation")</a></li>
                        <li><a href="#">@Html.ActionLink("Video", "MyProjects", "Navigation")</a></li>
                        <li><a href="#">Nihongo</a></li>
                    </ul>
                </nav>

                <section>
                    <header class="major">
                        <h2>Get in touch</h2>
                    </header>
                    <p>Contact me anytime!!</p>
                    <ul class="contact">
                        <li class="fa-envelope-o"><a href="#">hasibulhasan2009@gmail.com</a></li>
                        <li class="fa-phone">(+880) 17413-39123</li>
                        <li class="fa-home">
                            89/A-1, Barabag, Mirpur-2<br />
                            Dhaka, Bangladesh
                        </li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; All Rights Reserved, @DateTime.Today.Year Md. Hasibul Hasan</p>
                </footer>

            </div>
        </div>
    </div>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/browser.min.js"></script>
    <script src="~/Scripts/js/breakpoints.min.js"></script>
    <script src="~/Scripts/js/util.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>









@*<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)*@